<IfModule mod_rewrite.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|fonts.css|css|js)$">
        Header set Access-Control-Allow-Origin "*"
      </FilesMatch>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>